@import "tailwindcss";


/* Menu AntD custom
.ant-menu-item {
  color: white !important;
}
.ant-menu-item:hover {
  background-color: rgba(255,255,255,0.1) !important;
}
.ant-menu-item-selected {
  background-color: rgba(255,255,255,0.2) !important;
} */
